/* common font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* this is main nav and logo section */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    width: 86.041px;
    height: 40px;
}

.logo-name {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.logo-name2 {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    list-style: none;
}

.menu-container a {
    text-decoration: none;
    margin-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.follow-container {
    margin-left: 32px;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 17px, 24.08px, 18px, 24px;
    gap: 20px;
}

.follow-container:hover {
    cursor: pointer;
}


/* this is banner section */
.banner-header {
    display: flex;
    margin-bottom: 0px;
}

.banner-text-container {
    background-image: url(../images/Group\ 14.png);
    width: 901px;
    height: 700px;
    display: flex;
    align-items: center;
    padding-left: 244px;

}

.banner-img-section {
    margin-left: 68px;
    margin-right: 244px;
}

.banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}

.banner-title2 {
    margin: 0px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para {
    margin-top: 24px;
    margin-bottom: 41px;
}

.banner-dis {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-input {
    display: flex;
}

.banner-button1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.banner-button2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
}


/* this is we are gamer section */
.we-container {
    height: 600px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.we-img {
    padding-left: 240px;
}

.we-text-container {
    text-align: end;
    padding-right: 240px;
}

.we-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-dis {
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 52px;
}

.we-button {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.pusose-title {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.unleash-title {
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


/* this is funny video section */
.funny-video-container {
    margin-top: 120px;
    margin-bottom: 170px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.funny-title {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.funny-title-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-dis {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.funny-video-box {
    display: flex;
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-top: 48px;


}

.funny-video-box p {
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}

.video-box {
    width: 342px;
    height: 400px;
}


/* this is play instantly section */

.paly-instantly-container {
    margin-right: 240px;
    justify-content: right;
    display: flex;
    align-items: center;
}

.play-instantly-text {
    text-align: right;

}

.play-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-title2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-dis {
    width: 353px;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.plau-img {
    margin-top: 120px;
}

.doll-img {
    position: relative;
    right: -175px;
    bottom: -80px;
}

/* this is icon section */
.icon-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    align-items: center;
    justify-content: center;

}

.content {
    gap: 27px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;

}

.content button {
    gap: 16px;
    display: flex;
    align-items: center;
    border: none;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #aff8fd;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}


.content button:hover {
    cursor: pointer;
    border: 1px solid #F948B2;
    color: #F948B2;

}










/* this is footer section */
.footer-container {
    margin-top: 120px;
    /* height: 636px; */
    background: #0B0223;
    padding-top: 126px;
    padding-bottom: 130px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-logo {
    color: white;
    margin-left: 20px;
}

.footer-text-container {
    display: flex;
    gap: 60px;
    color: #FFF;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;

}

.footer-button-container {
    margin-top: 65px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    gap: 60px;
    margin-bottom: 28px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}











/* responsive media queries */
/* this section is for mobile device */

@media screen and (max-width:576px) {
    .main-section,
    .menu,
    .menu-container,
    .banner-header{
        flex-direction: column;
        /* width: 100%; */
    }
    .header{
        background: none;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .menu-container{
        gap: 25px;
        margin-bottom: 30px;
    
    }
    .banner-header{
        flex-direction: column-reverse;
    }
}











/* this section is for medium device */