/* common font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* this is main nav and logo section */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    width: 86.041px;
    height: 40px;
}

.logo-name {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;

}

.logo-name2 {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    list-style: none;
}

.menu-container a {
    text-decoration: none;
    margin-left: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.follow-container {
    margin-left: 32px;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 17px, 24.08px, 18px, 24px;
    gap: 20px;
}

.follow-container:hover {
    cursor: pointer;
}


/* this is banner section */
.banner-header {
    display: flex;

}

.banner-text-container {
    background-image: url(../images/Group\ 14.png);
    width: 901px;
    height: 700px;
    display: flex;
    align-items: center;
    padding-left: 244px;

}

.banner-img-section {
    margin-left: 68px;
    margin-right: 244px;
}

.banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}

.banner-title2 {
    margin: 0px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para{
    margin-top: 24px;
    margin-bottom: 41px;
}

.banner-dis {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-input{
    display: flex;
}
.banner-button1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.banner-button2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 24px;
}

















/* responsive media queries */
/* this section is for mobile device */

@media screen and (max-width:576px) {
    header {
        background: none;
        box-shadow: none;
        margin-top: 103px;
        padding: 0px 20rem;
    }

    nav,
    .menu,
    .menu-container,
    .main-section {
        flex-direction: column;
        text-align: center;

    }

    .menu {
        gap: 50px;
    }

    .menu-container {
        gap: 32px;
    }
}











/* this section is for medium device */